

div {
	display: block;
}

#navbar {
	position: relative;
	float: top;
	height: 30px;
	width: 100%;
	text-align: right;
}

#navbar ul li {
	display: inline-block;
}

li img {
	width: 15px;
	height: 15px;
}

img {
	display: block;
	height: 200px;
	width: 500px;
	left: 500px;
	top: 500px;
}

#searchForm {
	position: relative;
	height: 380px;
	width: 100%;
	left: 25%;
	top: 25%;
}